.header {
  flex: 0 0 auto;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-text-alt);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 48px;
  padding: 0 var(--size-gap);
}

.logo {
  flex: 0 0 auto;
  color: var(--color-text-alt);
  font-size: var(--font-l);
}

.inner {
  flex: 0 0 auto;
}

.space {
  flex: 1;
}
